@using WatchCatalog_MVC.ViewModels;
@model WatchDetailsViewModel


<div style="display: flex; width: 100vw; column-gap: 10vw; justify-content: center">
    <img src="@Model.Image" style="height: 70vh" />
    <div>
        <h1>@Model.WatchId @Model.WatchName</h1>
        <h3>@Model.Short_description</h3>
        <p>@Model.Price</p>
        <p>@Model.Caliber</p>
        <p>@Model.Strap</p>
        <p>@Model.Jewel</p>
        <p>@Model.Case</p>
        <p>@Model.Chronograph</p>
        <p>@Model.Diameter</p>
        <p>@Model.Weight</p>
        <p>@Model.Height</p>
        <p>@Model.Thickness</p>
        <p>@Model.Full_Description</p>
    </div>
</div>
<button id="btnToggle" class="@Model.ToggleButtonClass()">@Model.ToggleButtonName()</button>
<a asp-action="Index" class="btn btn-primary">Back</a>
<button id="btnUpdate"  class="btn btn-warning">Update</button>

<form id="formUpdate">
    <img id="imageUpdate" src="@Model.Image" style="height: 70vh" />
    <input type="file"
           id="imageFile"
           data-max-file-size="3MB"
           data-max-files="3"
           accept="image/png, image/jpeg, image/gif" />
    <input type="text" asp-for="WatchName" />
    <span asp-validation-for="WatchName" class="text-danger"></span>
    <input type="text" asp-for="Short_description" />
    <span asp-validation-for="Short_description" class="text-danger"></span>
    <input type="text" asp-for="Price" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <input type="text" asp-for="Caliber" />
    <span asp-validation-for="Caliber" class="text-danger"></span>
    <input type="text" asp-for="Strap" />
    <span asp-validation-for="Strap" class="text-danger"></span>
    <input type="text" asp-for="Jewel" />
    <span asp-validation-for="Strap" class="text-danger"></span>
    <input type="text" asp-for="Case" />
    <span asp-validation-for="Case" class="text-danger"></span>
    <input type="text" asp-for="Chronograph" />
    <span asp-validation-for="Chronograph" class="text-danger"></span>
    <input type="text" asp-for="Diameter" />
    <span asp-validation-for="Diameter" class="text-danger"></span>
    <input type="text" asp-for="Weight" />
    <span asp-validation-for="Weight" class="text-danger"></span>
    <input type="text" asp-for="Height" />
    <span asp-validation-for="Height" class="text-danger"></span>
    <input type="text" asp-for="Thickness" />
    <span asp-validation-for="Thickness" class="text-danger"></span>
    <input type="text" asp-for="Full_Description" />
    <span asp-validation-for="Full_Description" class="text-danger"></span>
</form>
@* <template id="my-template">
    <swal-title>
        @Model.WatchName
    </swal-title>
    <swal-html>
        <form id="formUpdate">
            <img id="imageUpdate" src="@Model.Image" style="height: 70vh" />
            <input type="file"
                   id="imageFile"
                   data-max-file-size="3MB"
                   data-max-files="3"
                   accept="image/png, image/jpeg, image/gif" />
            <input type="text" asp-for="WatchName" />
            <span asp-validation-for="WatchName" class="text-danger"></span>
            <input type="text" asp-for="Short_description" />
            <span asp-validation-for="Short_description" class="text-danger"></span>
            <input type="text" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
            <input type="text" asp-for="Caliber" />
            <span asp-validation-for="Caliber" class="text-danger"></span>
            <input type="text" asp-for="Strap" />
            <span asp-validation-for="Strap" class="text-danger"></span>
            <input type="text" asp-for="Jewel" />
            <span asp-validation-for="Strap" class="text-danger"></span>
            <input type="text" asp-for="Case" />
            <span asp-validation-for="Case" class="text-danger"></span>
            <input type="text" asp-for="Chronograph" />
            <span asp-validation-for="Chronograph" class="text-danger"></span>
            <input type="text" asp-for="Diameter" />
            <span asp-validation-for="Diameter" class="text-danger"></span>
            <input type="text" asp-for="Weight" />
            <span asp-validation-for="Weight" class="text-danger"></span>
            <input type="text" asp-for="Height" />
            <span asp-validation-for="Height" class="text-danger"></span>
            <input type="text" asp-for="Thickness" />
            <span asp-validation-for="Thickness" class="text-danger"></span>
            <input type="text" asp-for="Full_Description" />
            <span asp-validation-for="Full_Description" class="text-danger"></span>
        </form>
    </swal-html>
    <swal-button type="confirm">
        Save
    </swal-button>
    <swal-button type="cancel">
        Cancel
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param name="showLoaderOnConfirm" value="true" />
    <swal-param name="customClass"
                value='{ "popup": "my-popup" }' />
    <swal-function-param name="didOpen"
                         value="popup => console.log(popup)" />
</template> *@

@section Scripts{
    <script>
        $(() => {

            $("#btnUpdate").click(() => {
                console.log($("#formUpdate").valid())
                if ($("#formUpdate").valid()) {
                    $("#formUpdate").submit()
                }
                else {
                    return false
                }
            })

            $("#formUpdate").submit((event) => {
                event.preventDefault()
                var form = new FormData();
                form.append("image", imageFile.files[0]);
                form.append("watchname", $("#WatchName").val());
                form.append("case", $("#Case").val());
                form.append("jewel", $("#Jewel").val());
                form.append("strap", $("#Strap").val());
                form.append("caliber", $("#Caliber").val());
                form.append("full_description", $("#Full_Description").val());
                form.append("short_description", $("#Short_description").val());
                form.append("watchId", @Model.WatchId);
                form.append("Chronograph", $("#Chronograph").val());
                form.append("price", $("#Price").val());
                form.append("height", $("#Height").val());
                form.append("weight", $("#Weight").val());
                form.append("diameter", $("#Diameter").val());
                form.append("isActive", @Model.IsActive.ToString().ToLower());
                form.append("thickness", $("#Thickness").val());

                var settings = {
                    "url": "https://localhost:7147/updatewatch",
                    "method": "PUT",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    location.reload(true);
                });


                // $.ajax({
                //     type: 'PUT',
                //     url: '/updatewatch',
                //     async: true,
                //     success: (result) => {

                //     },
                //     error: (err) => {
                //         alert(JSON.stringify(err))
                //     }
                // })
            })

            $("#btnToggle").click(async () => {
                await $.ajax({
                    type: 'POST',
                    url: '/togglewatch',
                    data: JSON.stringify({ watchId: @Model.WatchId, isActive: @Model.IsActive.ToString().ToLower()}),
                    dataType: 'json',
                    contentType: "application/json",
                    success: (result) => {
                        location.reload(true);
                    },
                    error: (err) => {
                        alert(JSON.stringify(err))
                    }
                })
            })
        })
    </script>
}